$alert-error-border: #d73925;
$alert-success: #00a65a;
$alert-success-border: #008d4c;

$green: #00a65a;
$white: #fff;
$grey-light: #565656;
$grey-dark: #333333;
$red: #dd4b39;
$orange: #f39c12;
$grey-background: #ecf0f5;
$yellow: #faff36;

$diff-ins: #a6f3a6;
$diff-del: #f8cbcb;

$font_base: 400 16px/20px "Open Sans", sans-serif;